body {
    background-color: #f8f9fa;
}

.card {
    background-color: #ffffff;
    border: none;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.4rem;
}

.btn-success {
    font-weight: bold;
}
